@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Gowun+Batang:wght@400;700&display=swap');

 /*aqui são variaveis para facilitar a cod*/
 :root{
    --cor01:#ffffff;
    --cor02:#c7c4c4;
    --cor03:#818080;
    --cor04:#6b6a6a;
    --cor05:#413f3f;
    --cor06:#0a0a0a;
    --cor07:rgb(111, 133, 194);

    --font-destaque:"Playfair Display", system-ui;
    --font-padrão:"Gowun Batang", serif;
    --font-titulos:"Cinzel", serif;
 }
/*aqui são tags gerais para pagina*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
   background-color: #413f3f;
}
/*aqui começa meu cabeçalho*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    display:flex;
    background: linear-gradient(360deg, #413f3f, #6b6a6a);
    padding: 5px 100px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
 }

.container img{
    width: 30px;
    display: flex;
    justify-content: flex-start;
}

nav{
    display: flex;
    text-shadow: 1px 2px 3px black;
}

ul{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style-type: none;
}

nav a{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-family:var(--font-destaque);
    font-size: 20px;
    padding: 8px ;
    position: relative;
    transition-duration: 0.8s;
    text-shadow: 1px 2px 3px black;
}

nav a:hover{
    color: var(--cor07);
}

nav a::after{
    content:" ";
    width: 0;
    height: 4px;
    background-image: linear-gradient(45deg,#ffffff,rgb(4, 0, 255));
    position: absolute;
    top: 35px;
    left:8px;
    transition-duration: 0.5s;
}

/*aqui começa o corpo da pagina com minhas informaçoes e uma iamgem*/


.main1{
    display: flex;
    padding: 260px 0 0 0 ;
    align-items: center;
    justify-content: space-between;
   
}

article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-shadow: 1px 2px 3px black;
    max-width: 1400px;
    padding: 0 0px 0 190px ;
    
}

.texto {
   color: #c7c4c4;
   font-family: var(--font-titulos);
   max-width: 700px;
   padding-right: 30px;
}

article img{
    width: 350px;
    margin-left: 50px;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 1px 2px 3px black;
}

article h1{
    color: var(--cor07);
    font-size: 20px;
}

article h2{
    font-size: 80px;
}
article h3{
    font-size: 25px;
}

article p{
    color:#818080;
    font-size: 15px;
    padding: 10px 0 0 0 ;
}

article .cor1{
color: var(--cor07);
}

/*aqui começa o campo de habilidades*/
aside{
    padding: 50px;
}

.habilidades-container{
    display: flex;
    margin-top: 300px;
}

.habilidades-container h1{
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    text-shadow: 1px 2px 3px black;
    padding: 0 570px 0 140px ;
}

.idiomas-container{
    display: flex;
    margin-top: 50px;
}

.idiomas-container h1{
   display: flex;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    padding: 0px 710px 500px 140px ;
}

.contatos-container h1{
    display: flex;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    padding: 0 655px 300px 140px ;
}

.habilidades-container,.idiomas-container,.contatos-container{
    display: flex;
}

.imagens-habilidades img,.imagens-idiomas img,.imagens-contatos img{
    width: 75px;
    height: auto;
    margin-right: 20px;
    padding:  10px 10px 10px 10px;
}

footer{
    color:var(--cor07);
    margin: 0px 0px 5px 0px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(360deg, #413f3f, #6b6a6a);
   text-shadow: 1px 2px 3px black;
}

/*aqui começa a configuração de resposividade*/
@media screen and (max-width:800px){
    header{
    width: 100%;
    position: fixed;
    top: 0;
    display:flex;
    background: linear-gradient(360deg, #413f3f, #6b6a6a);
    padding: 20px ;
    align-items: center;
    justify-content: space-between;
    }

    nav a{
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-family:var(--font-destaque);
    font-size: 20px;
    padding: 8px ;
    position: relative;
    transition-duration: 0.8s;
    text-shadow: 1px 2px 3px black;
}
.container img{
    width: 50px;
    display: flex;
    justify-content: flex-start;
}

.main1{
    display: flex;
    padding: 150px 0 0 0 ;
    align-items: center;
    justify-content: space-between;
   
}

article{
   display: block;
    padding: 0px 0px 0px 48px ;
   
} 

article h1{
    color: var(--cor07);
    font-size: 15px;
    text-align: center;
}
article h2{
    text-align: center;
    font-size: 60px;
}
article h3{
    font-size: 20px;
    text-align: center;
}

article p{
    color:#818080;
    font-size: 10px;
    padding: 10px 0 30px 0 ;
    text-align: center;
}

article img{
    width: 350px;
    margin-left: 30px;
    border-radius: 20px;
    justify-content: space-between;
    box-shadow: 1px 2px 3px black;
}

.habilidades-container{
    display: block;
    margin-top: 100px;
    
}

.habilidades-container h1{
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    text-shadow: 1px 2px 3px black;
    padding: 80px 570px 0 100px ;
}



.imagens-habilidades img,.imagens-idiomas img,.imagens-contatos img{
    width: 70px;
    height: auto;
    margin: 30px 0px 0px 20px ;
}
.idiomas-container{
    display: block;
    margin:0px 0px 500px 100px 
}

.idiomas-container h1{
   display: block;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    padding: 30px 710px 0px 30px ;
}

.habilidades-container,.idiomas-container,.contatos-container{
    display: block;
}
.contatos-container h1{
    display: block;
    align-items: center;
    text-shadow: 1px 2px 3px black;
    font-size: 40px;
    font-family: var(--font-padrão);
    color: var(--cor07);
    padding: 0px 0px 0px 0px ;
    margin: 0px 120px 0px 120px;
}

.imagens-contatos{
    margin: 0px 10px 250px 55px;
}

}

